.nav{
    background-color: black;
    width: 100vw;
    height: 75px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.nav a{
    color: white;
}
.nav li:hover{
    background-color: rgba(128, 128, 128, 0.644);
}
.nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}
.nav ul li {
    color: white;
    display: flex;
    width: 150px;
    height: 75px;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
}

.ulUser{
    display: flex;
    
}
.imgProfile{
    margin-left: 5px;
    width: 50px;
    height: 50px;
    object-fit:cover;
    border-radius: 50%;
}
.liUser{
    width: 200px!important; 
}