.ask{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border: solid rgba(128, 128, 128, 0.623) 1px;
    flex-wrap: wrap;
    align-content: center;
}
.ask h2, p{
    margin: 0;
    padding: 0;
}
.ask p{
    margin-bottom: 50px;
}
.ask form{
    display: flex;
    flex-direction: column;
    width: 450px;
}
.ask input{
    margin: 10px 0;
}
.valider{
    background-color: white;
}