#root {
  text-align: center;
  height: 100dvh;
  width: 100dvw;
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center
}
.tableQuestion{
  margin : 0;
  padding: 0;
}
.tableQuestion li{
  font-weight: 500;
  font-size: large;
  border : solid black 1px;
  padding: 3px;
  margin : 5px 0;
}