

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --current-color: #646cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
